.content {
  line-height: 2.75rem;

  p {
    font-size: 1.125rem;
    color: var(--gray-100);
  }

  .postInfo {
    font-size: 0.925rem;
    display: flex;

    time {
      display: flex;
      align-items: center;

      span {
        margin: 0;
        padding: 0;
        box-sizing: 0;

        & + svg {
          margin-left: 1.5rem;
        }
      }
    }

    svg {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

  }
}
