.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2rem;

  .buttonLoadMorePosts {
    background: none;
    border: none;
    color: var(--pink-700);
    cursor: pointer;
    line-height: 5.25rem;
  }
}
