section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    form {
        margin: 30px auto;

        display: block;
        gap: 20px;

        button {
            padding: 15px;
            background: #8257e6;
            color: white;

            border: 0;
            width: 300px;
            border-radius: 0.25rem;
            cursor: pointer;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9);
            }
        }

        input {
            display: block;
            
            padding: 15px;
            margin: 20px 0;
            width: 330px;

            border-color: #8257e6;
            border-radius: 0.25rem;
        }
    }

    ul {
        list-style: none;

        li {
           & + li {
            margin-top: 20px
           }

           p {
               font-size: 14px;
               color: #444;
               margin-top: 8px;
           }

           a {
               display: inline-block;
               margin-top: 16px;
               text-decoration: none;
               color: #8257e6;
           }
        }
    }
}
